.dashboard-container {
  display: flex;
  height: 100%;

  .side-nav-bar-container {
    width: 20%;

    .MuiListItemText-primary {
      font-size: 14px !important;
    }

    .MuiListItemIcon-root {
      min-width: 30px;
    }
  }

  .graphs-container {
    width: 80%;
    background-color: #ececec;
    display: flex;
    flex-direction: column;

    .top-container {
      display: flex;
      padding: 16px;
      .counters-container {
        display: flex;

        .counter {
          padding: 16px;
          background-color: #bee5e5;
          height: 150px;
        }
      }
    }
  }

  .nav-section-text {
    padding-left: 16px;
    font-size: 14px !important;
  }
}
